


.topbarContainer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #6c48a7;
  /* #860e61background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}
.topbarLeft {
  flex: 3;
}
.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.topbarCenter {
  flex: 5;
}
.searchbar {
  width: 100%;
  height: 30px;
   background-color: white; 
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}
.searchInput {
  border: none;
  width: 70%;
  margin-left: 15px;
}
.searchInput:focus {
  outline: none;
}
.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}
.topbarIcons {
  display: flex;
}
.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  /* color: aliceblue; */
  
    

}
.topbarIconItem2 {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  color: aliceblue;
  
    

}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  color: aliceblue;
  position: relative;
    top: 0px;
    left: 350px;
}
a {
  
 
  color: aliceblue;
}

/* path {
  color: aliceblue;
} */
.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.searchUser {
  text-decoration: none;
  position: absolute;
  left: 420px;
  top: 14px;
  font-size: larger;
  margin-left: 20px;
}
.searchImg {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  /* margin-left:250px; */
  /* margin-top: 3px; */
  position: absolute;
  left: 400px;
  top: 12px;
}
.search {
  margin-left: 250px;
  float: right;
  margin-right: 10px;
  background-color: white;
  border: none;
  float: right;
}
/* form {
  width: 600px;
} */

