.btn-link {
    font-weight: 400;
    color: #0d6efd;
    text-decoration: underline;
    float: right;
}

#formSetting  {
    width: 450px;
    margin-left: 25px;
    margin-top: 20px;
    /* background-color: rgb(183 36 110 / 35%); */
    background-color:#e6e9ec;
    padding-left: 20px;
    padding-right: 25px;
    margin-bottom: 30px;
}
.deactivateAcoount{
    float: right;
}

